a{
    color: #ffffff;
    text-decoration:none;
}
td:hover{
    background-color:#e3e3e3;
}
body{
    padding-left:25px;
    padding-right:25px;
}
.foot{
    padding:5px;
    background-color: rgba(191, 191, 191,0.6);
    margin-top:15px;    
}
.text{
    background-color: rgba(191, 191, 191,0.6);
    margin-bottom:15px;
}